{% load static %}

   <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index.follow">
    <meta name="keywords" content="html,css,javascript">
    <meta name="description" content=".....">
    <link rel="stylesheet" href="{% static 'nav.css' %}">
    <title>Responsive nav</title>
</head>
<nav>
    <div class="logo">
        <h2>DjongV</h2>
    </div>
    <ul class="nav-links">
        <li><a href="#">home</a></li>
        <li><a href="#">prediction</a></li>
        <li><a href="#">fixtures</a></li>
        <li><a href="#">news</a></li>
        <li><a href="#">feedback</a></li>
    </ul>
    <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>
{% block content%}

{% endblock content%}

<script src="{% static 'nav.js' %}"></script>
</body>
</html>