{%extends 'base.html'%}
{% load static %}
{%block content%}
<body>
   
    <section id="main">
        <h1 class="text">Where sport news is brought fresh</h1>
            <p class="assist">Always ready to update...</p>
            <button class="btn1"><a href="#">Contact</a></button>
            <button class="btn2"><a href="#">Explore</a></button>
        <img class="sky" src="{% static 'images/sky.jpg' %}" alt="image"> 
        <div id="container">
            <div class="center">
                 <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/legs.jpg" alt="images">   
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                <br>
                <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/legs.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                 <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/legs.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                <br>
                <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                 <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/green.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                <br>
                <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/cycling.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                 <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/tannis.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                <br>
                <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/views.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                 <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/pitch.jpg" alt="images">
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                <br>
                <div class="items">
                    <div class="box-1">
                        <img class="sport-pic" src="images/legs.jpg" alt="images"> 
                        <h3>Rinning to become the best <br> is the goal</h3>
                    </div>
                    <div class="box-2">
                        <p class="news">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam ea accusamus rem corrupti,
                            velit beatae. Quae iusto expedita molestias atque sapiente, exercitationem sed reiciendis
                            quidem ipsam, quos quaerat! Recusandae, animi molestias. Labore perspiciatis soluta dolor
                            commodi quia nihil et quod fugit ea. Error recusandae alias qui quidem praesentium temporibus
                            quo voluptates illo vitae at deleniti fuga a asperiores molestiae architecto dignissimos omnis,
                            accusantium soluta fugit! Nobis quas quis quasi ut? Ex, dolor dolore corrupti assumenda eligendi,
                            eveniet nobis culpa, doloribus dolores dolorum quaerat ab! Velit voluptatum ipsa repudiandae ex sunt,
                            quasi voluptate iste enim, deserunt officiis, illo veniam laudantium consequatur!</p>
                    </div>
                </div>
                <div class="sub-news">
                    <div class="few-news">
                        <div class="">
                            <img class="picx" src="images/friends.jpg" alt="image">
                            <p class="text2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat libero 
                               voluptatibus sed impedit veniam consequuntur tempora ipsa quia temporibus!</p>
                        </div>
                        <div class="">
                            <img class="picx" src="images/stone.jpg" alt="image">
                            <p class="text2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat libero 
                               voluptatibus sed impedit veniam consequuntur tempora ipsa quia temporibus!</p>
                        </div>
                        <div class="">
                            <img class="picx" src="images/stone.jpg" alt="image">
                            <p class="text2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minima fugiat libero 
                                voluptatibus sed impedit veniam consequuntur tempora ipsa quia temporibus!</p>

                        </div>
                    </div>
                </div>
           
            </div>
        </div>
    </section>
    {%endblock content%}
    




